.message-wrapper {
  border: 2px solid black;
}
.message-wrapper-dark {
  border: 2px solid white;
}

.message-body {
  overflow:hidden
}

.message-contents-wrapper {
  display: grid;
  grid-template-columns: 1fr 7fr;
  word-wrap: break-word;
}

.message-wrapper {
  height: auto;
  width: auto;
}

@media only screen and (max-width: 600px) {
  /* mobile */

  .message-body, .message-sender {
    padding: 5px;
  }
  .message-wrapper {
    margin: 5px 0;
  }
}

@media only screen and (min-width: 601px) {
/* desktop */
  .message-body, .message-sender {
    padding: 10px;
  }
  .message-wrapper {
    margin: 10px 0;
  }
}